.sections {
  margin: 0 0 40px;
}

.sections-social {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #696e82;
  margin: 0 0 12px;
  padding: 0;
}

.sections-wrapper{
  display: flex;
  justify-content: space-between;
}

.sections__left {
  max-width: 400px;
}

.sections__left-text {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: #1e222e;
  margin: 0 0 24px;
}

.sections__span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #696e82;
  margin: 0 0 48px;
}

.sections__left-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 60px;
}

.sections__left-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 16px;
}

.sections-list {
  list-style-type: none;
  display: flex;
  margin: 0 0 17px;
  padding: 0;
  gap: 8px;
}

.section__license {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #696e82;
}


.sections__right-list {
  max-width: 712px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sections__card--big {
  display: flex;
  background-color: #F4F6FA;
  border-radius: 16px;
}

.sections__right-item--xl {
  display: flex;
  grid-column: 1 / 3;
  grid-template-rows: 1fr 1fr;
}

.sections__right-views {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #696e82;
  gap: 16px;
  margin: 0 0 16px;
}

.sections__right-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #1e222e;
  margin: 0 0 8px;
  padding: 0;
}

.sections__right-text {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #1e222e;
  margin: 0;
  padding: 0;
}